<!--  -->
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.username">clipper_user</property>
		<property name="hibernate.connection.password">biggShip</property>
		<property name="hibernate.connection.url">
			jdbc:postgresql://imperial-archives.cs1cruzjtwei.us-east-2.rds.amazonaws.com:5432/clipper
		</property>
		<property name="hibernate.connection.driver.class">org.postgresql.Driver</property>
		<property name="hibernate.default_schema">dev</property>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="hibernate.connection.show_sql">true</property>

		<property name="hibernate.connection.format_sql">true</property>

		<property name="hibernate.connection.pool_size">10</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping resource="hibernate.hbm.xml"/>

	</session-factory>

</hibernate-configuration>